* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 360px;
  height: 6924px;
  background-image: url('../src/img/fon-mob.webp');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
}
